<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GlobalWeatherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="GlobalWeatherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.com/globalweather.asmx"
                binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
                contract="GlobalWeatherSoap" name="GlobalWeatherSoap" />
            <endpoint address="http://www.webservicex.com/globalweather.asmx"
                binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
                contract="GlobalWeatherSoap" name="GlobalWeatherSoap12" />
        </client>
    </system.serviceModel>
</configuration>